---
import { actions } from "astro:actions"
import Layout from "~/layout.astro"

const signInResult = Astro.getActionResult(actions.auth.signIn)
const signUpResult = Astro.getActionResult(actions.auth.signUp)

const { session } = Astro.locals
---

<Layout title="Home">
    {
        !session ? (
            <>
                <form method="post" action={actions.auth.signIn}>
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        required={true}
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        required={true}
                    />
                    <button type="submit">Sign In</button>
                </form>
                {signInResult?.error && <p>{signInResult.error.message}</p>}

                <form method="post" action={actions.auth.signUp}>
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        required={true}
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        pattern=".{8,}"
                        title="Eight or more characters"
                        required={true}
                    />
                    <input
                        type="password"
                        name="confirmPassword"
                        placeholder="Confirm Password"
                        required={true}
                    />
                    <button type="submit">Sign Up</button>
                </form>
                {signUpResult?.error && <p>{signUpResult.error.message}</p>}
            </>
        ) : (
            <>
                <form method="post" action={actions.auth.signOut}>
                    <button type="submit">Sign Out</button>
                </form>
            </>
        )
    }
</Layout>
